<%- include('_header'); -%>

	<div class="w3-main w3-padding-32" style="height:100vh;">

		<div class="w3-center" > 
			<h1 style="background-color: rgba(255, 255, 255, 0.8)" > BOARD GAMES </h1>
		</div>

		<!-- First Photo Grid-->
	  <div class="w3-row-padding">
	    <div class="w3-third w3-container w3-margin-bottom">
	      <img src="/static/bang.jpg" alt="Norway" style="width:100%;height:600px" class="w3-hover-opacity">
	      <div class="w3-container w3-blue">
	        <p><b>Bang/b></p>
	        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
	      </div>
	    </div>
	    <div class="w3-third w3-container w3-margin-bottom">
	      <img src="/static/coup.jpg" alt="Norway" style="width:100%;height:600px" class="w3-hover-opacity">
	      <div class="w3-container w3-blue">
	        <p><b>Coup</b></p>
	        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
	      </div>
	    </div>
	    <div class="w3-third w3-container">
	      <img src="/static/secret hitler.jpg" alt="Norway" style="width:100%;height:600px" class="w3-hover-opacity">
	      <div class="w3-container w3-blue">
	        <p><b>Secret Hitler</b></p>
	        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
	      </div>
	    </div>
	  </div>
	  
	  <!-- Second Photo Grid-->
	  <div class="w3-row-padding">
	    <div class="w3-third w3-container w3-margin-bottom">
	      <img src="/static/zombcide.jpg" alt="Norway" style="width:100%;height:600px" class="w3-hover-opacity">
	      <div class="w3-container w3-blue">
	        <p><b>Zombcide</b></p>
	        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
	      </div>
	    </div>
	    <div class="w3-third w3-container w3-margin-bottom">
	      <img src="/static/dixit.jpg" alt="Norway" style="width:100%;height:600px" class="w3-hover-opacity">
	      <div class="w3-container w3-blue">
	        <p><b>Dixit</b></p>
	        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
	      </div>
	    </div>
	    <div class="w3-third w3-container">
	      <img src="/static/pega em 6.jpg" alt="Norway" style="width:100%;height:600px" class="w3-hover-opacity">
	      <div class="w3-container w3-blue">
	        <p><b>Pega em 6</b></p>
	        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
	      </div>
	    </div>
	  </div>
	
	
	
	
	
	
	
	
	
	<script defer src="./scripts/catalogo.js">
	</script>
	<script>
	    function toggleSidebar() {
      	sidebar = document.getElementById("sidebar");
				if (sidebar.style.display == "none") {
					sidebar.style.display = "block"
				} else {
					sidebar.style.display = "none"
				}
			}
	</script>

<%- include('_footer'); -%>