<!DOCTYPE html>
<html>

	
<head>
	<title>Ludos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background:#e1efbb
	url('./images/tabuleiro.jpg');background-size: 100% 100%;background-repeat: no-repeat;background-attachment: fixed;">

	<nav id="sidebar" class="w3-sidebar  w3-bar-block w3-top w3-collapse w3-text-black" style="z-index:3;width:200px;background-color: #f1f1f1;" id="mySidebar">
	  <a href="index2.html"  class="w3-bar-item w3-padding-16 w3-text-white w3-button w3-hover-black" style="background-color:#007bff;">Home</a> 
	  <a href="index3.html"  class="w3-bar-item w3-padding-16 w3-button w3-hover-black">Jogos - recolhimento/entrega</a> 
	  <a href="index4.html"  class="w3-bar-item w3-padding-16 w3-button w3-hover-black">Aluguel - mesas/jogos</a>  
	  <a href="#"  class="w3-bar-item w3-padding-16 w3-button w3-hover-black">Estatisticas</a> 
	  <a href="#"  class="w3-bar-item w3-padding-16 w3-button w3-hover-black">Perfil</a> 
	</nav>


<div class="w3-main" style="margin-left:200px;height:100vh;">

	<header class="w3-bar">
		
		<div class="w3-bar-item w3-hide-small" style="background-color: rgba(255, 255, 255, 0.8);padding-bottom: 0px;">
			<h2 class="w3-text-blue" >LUDOS</h2>
		</div>
		<div class="w3-bar-item w3-left" style="background-color: rgba(255, 255, 255, 0.8);padding-bottom: 0px;">
			<h2><img src="./images/icon.svg"  width="40" height="40"></h2>
		</div>
		<div class="w3-bar-item w3-right w3-button w3-hide-large" onclick="toggleSidebar()">
    		<h2><i class="fa fa-bars"></i></h2>
    </div>
		<div class="w3-bar-item  w3-right w3-text-black " style="background-color: rgba(255, 255, 255, 0.8)">
			<h2><a href="index.html" style="text-decoration: none;">Sair</a></h2>
		</div>
		<div class="w3-bar-item w3-right w3-text-blue " style="background-color: rgba(255, 255, 255, 0.8)">
			<h2>Cliente</h2>
		</div>
	</header>

	<div class="w3-main w3-padding-32" style="height:100vh;">

		
	
	
	
	
	
	
	
	
	</div>
	
	
	
	<script defer src="./scripts/catalogo.js"> </script>
	<script>
	    function toggleSidebar() {
      	sidebar = document.getElementById("sidebar");
				if (sidebar.style.display == "none") {
					sidebar.style.display = "block"
				} else {
					sidebar.style.display = "none"
				}
			}
	</script>
</body>

</html>