<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>LUDOS</title>
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>

<body style="background:#e1efbb
	url('./images/tabuleiro.jpg');background-size: 100% 100%;background-repeat: no-repeat;background-attachment: fixed;">
  
<div class="w3-display-middle w3-center">
	<div class="w3-box w3-padding-large " style="background:rgba(255, 255, 255, 0.8);">
		<form action="index2.html">
		  <label for="fname" style="text-align: left;">Usuário:</label><br>
		  <input class="w3-opacity" type="text" id="fname" name="fname" ><br><br>
		  <label for="lname">Senha:</label><br>
		  <input class="w3-opacity" type="text" id="lname" name="lname" ><br><br>
			<a href="index2.html" class="w3-text-blue"";>Esqueci minha senha</a><br><br>
		  <input type="submit" value="Login" class="w3-button w3-border-blue w3-padding-small w3-blue" >
			<a href="cadastro.html" class=" w3-text-white w3-blue w3-padding ">Cadastrar</a><br><br>
		</form> 
	</div>
</div>

</body>
</html>